@model ItalianDeli.ViewModels.Orders

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table table-striped table-hover">
    <tr>
        <th>
            OrderID
        </th>
        <th>
            Item Name
        </th>
        <th>
            Quantity
        </th>
    </tr>
    @foreach (var item in Model.Order)
    {
        if (item.OrderStatus == ItalianDeli.Common.Status.Cooking)
        {
            foreach (var itemdetail in item.OrderDetails)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => itemdetail.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => itemdetail.Item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => itemdetail.Quantity)
                    </td>
                </tr>
            }
            <tr>
                <td>
                    @Html.ActionLink("Update Order Status", "Update", new {id = item.OrderId})
                </td>
            </tr>
        }
    }
</table>
