@model ItalianDeli.ViewModels.Orders

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table table-striped table-hover">
    @foreach (var item in Model.Order)
    {
        if (item.OrderStatus == ItalianDeli.Common.Status.ReadyForPickup) { 
            foreach (var itemdetail in item.OrderDetails)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => itemdetail.Item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => itemdetail.Quantity)
                    </td>
                    <td>
                        @Html.ActionLink("Update Order Status", "Update", new { id = item.OrderId })
                    </td>
                </tr>
            }
        }
    }
</table>