@{
    ViewBag.Title = "About Us";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id magna id dui elementum dapibus at at magna. 
            Etiam sagittis lectus et purus ultrices, ac posuere felis tincidunt. Duis ut egestas justo, eget tempus enim. 
            Morbi elit diam, suscipit a ultrices et, fringilla sed turpis. Proin molestie consequat mauris, scelerisque 
            venenatis justo sollicitudin in. Cras vestibulum pharetra condimentum. Cum sociis natoque penatibus et magnis 
            dis parturient montes, nascetur ridiculus mus. Ut et ligula vel metus blandit aliquet ac at eros.
        </p>
        <p>
            Vivamus efficitur quis nibh nec efficitur. Vestibulum posuere porta quam ac viverra. Vivamus malesuada nunc 
            sed lacinia cursus. Ut sed fermentum nulla. Nam molestie nibh quis libero cursus, id tristique justo molestie. 
            Donec id egestas risus. Praesent a est vitae ipsum aliquet mollis. Donec commodo dui ut risus volutpat ornare. 
            Vivamus malesuada vel augue quis dapibus. Fusce hendrerit tristique lacinia.
        </p>
        <p>
            Aliquam ac nibh viverra, tempor lectus nec, congue justo. Vestibulum sit amet massa sit amet risus convallis 
            volutpat. Morbi euismod sit amet nunc nec blandit. Maecenas iaculis pulvinar ipsum, a porttitor tortor fermentum 
            sit amet. Duis luctus consequat eros, non gravida velit dignissim suscipit. Nulla velit lorem, euismod a porttitor 
            eu, congue sit amet mauris. Maecenas non erat feugiat, interdum libero ac, iaculis eros. Aenean a imperdiet dui. 
            Suspendisse potenti. Nullam bibendum, quam at tincidunt sodales, libero eros tempor tortor, id ullamcorper justo 
            lacus tincidunt mi. Morbi porta congue lorem. Nulla et pharetra sem, a porta metus. Vivamus id purus dui. 
            Pellentesque id arcu vestibulum, tincidunt ante eget, molestie augue.
        </p>
    </div>
</div>